#!/usr/bin/env sh
alias pin='ping -c 3 8.8.8.8'
alias smysqldump="mariadb-dump --single-transaction --quick --lock-tables=false"
alias myip='wget http://checkip.dyndns.org/ -O - -o /dev/null | cut -d: -f 2 | cut -d\< -f 1'
alias ssl='certbot certonly --webroot --agree-tos --text --non-interactive --webroot-path /var/www/html -d'

cht(){
  curl cht.sh/$1
}
mkcd(){
  mkdir $1;cd $1
}

encrypt(){
  gpg --encrypt --armor --output ${1}.enc -r $(cat ~/.pubkey) "${1}" && echo "${1} -> ${1}.enc"
}

decrypt(){
  gpg --decrypt --output ${1}.dec "${1}" && echo "${1} -> ${1}.dec"
}

#  gnupg
alias secret="gpg --armor --encrypt"

# git
alias gac="git add -A && git commit -am"
alias grh="git reset --hard"
alias gp="git push"
alias gpu="git pull"
alias gst="git status"
alias pgp="pass git push"

# shortcuts
alias t='tree -I ".git" -a'
alias h="history"
alias v="nvim"
alias vf='nvim $(fzf)'
alias tf='tail -f'

# configs
alias sp="source ~/.myprofile"
alias vrc="nvim ~/.config/nvim/lua/config"
alias vrcp="nvim ~/.config/nvim/lua/plugins"
alias vrck="nvim ~/.config/nvim/lua/config/keymap.lua"
alias zrc="nvim ~/.zshrc && source ~/.zshrc"
alias ho="sudo vim /etc/hosts"

# dir shortcuts
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."
alias cdd="cd ~/.dotfiles"
alias cdr="cd ~/repos"
alias cds="cd ~/scripts"
alias www="cd /var/www/"

# tmux
alias ta='tmux attach -t'
alias tnew='tmux new -s'
alias tls='tmux ls'
alias tkill='tmux kill-session -t'
