#!/usr/bin/env sh
. "$SCRIPTS"/userspace/init.sh
. "$SCRIPTS"/userspace/utils.sh
. "$SCRIPTS"/userspace/audio.sh
. "$SCRIPTS"/userspace/dmenu.sh
. "$SCRIPTS"/userspace/status.sh
. "$SCRIPTS"/userspace/tmux.sh
. "$DOTFILES"/server/typo3.sh
. "$DOTFILES"/server/magento2.sh
. "$DOTFILES"/server/webserver.sh
. "$DOTFILES"/server/mysql.sh
